services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  celery-worker:
    build: ./backend
    volumes:
      - ./backend:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - DJANGO_SETTINGS_MODULE=online_shop.settings.dev
    command: celery -A online_shop worker --loglevel=info
    depends_on:
      - redis
      - backend

  celery-beat:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - DJANGO_SETTINGS_MODULE=online_shop.settings.dev
    command: celery -A online_shop beat --scheduler django_celery_beat.schedulers:DatabaseScheduler --loglevel=info
    depends_on:
      - redis
      - backend

  celery-flower:
    build: ./backend
    volumes:
      - ./backend:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    command: celery -A online_shop --broker=redis://redis:6379/0 flower  --port=5555
    depends_on:
      - redis
      - backend
    ports:
      - "5555:5555"

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=online_shop.settings.dev
      - SECRET_KEY= django-insecure-kr1p-zj6!vss$(xd2f7vk8nw*3g@-ao92zzg8^@u!mj(l#s)+i
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py makemigrations &&
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
