services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  celery-worker:
    build: ./backend
    volumes:
      - ./backend:/app
    env_file:
      - .env.dev
    command: celery -A online_shop worker --loglevel=info
    depends_on:
      - redis
      - backend

  celery-beat:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    env_file:
      - .env.dev
    command: celery -A online_shop beat --scheduler django_celery_beat.schedulers:DatabaseScheduler --loglevel=info
    depends_on:
      - redis
      - backend

  celery-flower:
    build: ./backend
    volumes:
      - ./backend:/app
    env_file:
      - .env.dev
    command: celery -A online_shop --broker=redis://redis:6379/0 flower  --port=5555
    depends_on:
      - redis
      - backend
    ports:
      - "5555:5555"

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    env_file:
      - .env.dev
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py makemigrations &&
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
