{% extends "dashboard.html" %} {% block content %} {% if order.status %}
<h4><b class="text-success">{{order.status}}</b></h4>
{% endif %} {% for item in items %}
<div class="bg-light rounded border-bottom p-3">
  <p>
    محصول:<a
      class="text-decoration-none"
      href="{{ item.variant.product.get_absolute_url }}"
    >
      {{item.variant.product.title}}</a
    >
  </p>
  <p>قیمت: {{item.price}} تومان</p>
  <p>تعداد: {{item.quantity}}</p>
</div>
{% endfor %}
<p>آدرس ارسال : {{order.user.address}}</p>
<h4 class="border-top pt-2 text-muted">
  جمع: {{ order.get_total_price }} تومان
</h4>

{% endblock %}
