{% extends "dashboard.html" %} {% block content %}

<table class="table table-striped">
  <thead class="text-muted">
    <tr>
      <th scope="col">n</th>
      <th scope="col">title</th>
      <th scope="col">price</th>
      <th scope="col">category</th>
      <th scope="col">date</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% for variant in variants %}
  <tbody>
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>
        <a
          class="text-decoration-none"
          href="{{ variant.product.get_absolute_url }}"
          >{{ variant.product.title }}</a
        >
      </td>
      <td>${{ variant.product.price }}</td>
      <td>{{ variant.product.category }}</td>
      <td>{{ variant.product.date_created|date:"M d" }}</td>
      <td>
        <a
          class="text-danger text-decoration-none"
          href="{% url 'dashboard:delete_variant' variant.id %}"
          >Delete</a
        >
      </td>
      <td>
        <a
          class="text-info text-decoration-none"
          href="{% url 'dashboard:edit_variant' variant.id %}"
          >Edit</a
        >
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock %}
