name: Deploy to VPS

on:
  push:
    branches:
      - master # deploy when pushing to master branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy via SSH
        run: |
          ssh -p 9011 -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} << 'EOF'
          set -e

                    
          # Go to app directory (adjust path on VPS)
          cd ~/hani-shop

          echo ">>> Pulling latest code..."
          git fetch --all
          git reset origin/master

          bash start.sh


          EOF
